#campaignchain-operation-field .panel-default > .panel-heading {
    background-color: #6dbcdb;
    color: #fff;
    height: 44px;
}

#campaignchain-operation-field .panel-default > .panel-heading a {
    color: #fff;
}

#campaignchain-operation-field .panel-body {
    background-color: #f8f8f8;
}

#campaignchain-operation-field .panel-body .status {
    display: block;
    max-width: 99%;
    min-width: 220px;
    padding: 0px;
    border-radius: 5px;
    margin: 10px 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(238, 238, 238) rgb(221, 221, 221) rgb(187, 187, 187);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
    width: 500px;
    background-color: #fff;
    border-radius: 5px;
    padding: 12px;
    font-family: "Helvetica Neue",Roboto,"Segoe UI",Calibri,sans-serif;
    color: #292f33;
}
